<script type="text/template" id="tour.view.modal.approved.tpl">
    <form class="row" id="tour-view">
        <div class="row">
            <div class="col-md-9 col-xs-9">
                <h3><%- name %> | <span class="text-<%-status.color%> st_s"><%- status.name %></span></h3>
            </div>
            <div class="col-md-2 col-xs-2 text-right">
                <button type="button" class="btn btn-default cancel-icon"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <label>Клиент</label>
                        <div><%- client.last_name %> <%- client.first_name %></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Эра</label>
                        <div class="era"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <label>Вид животного</label>
                        <div id="kind" class="kind"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Опасность</label>
                        <div class="<%-danger.color%>"><%- danger.name %></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <label>Стоимость</label>
                        <div><%- price %> <b>$</b></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>ДАТА ПРЫЖКА</label>
                        <div><%- event_date %></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                    <label>БРОНИРОВАНИЕ</label>
                    <div>до <%- pay_date %></div>
                    <a href="<%- location['hash'] %>" class="text-center" id="extend">Продлить?</a>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <a href="#tour/pass/<%-id%>" class="btn btn-block btn-danger">ОТКЛОНИТЬ</a>
            </div>
        </div>
    </form>
</script>
