<script type="text/template" id="tour.view.modal.client.tpl">
    <form class="row" id="tour-view">
        <div class="row">
            <% isFinish = status['name'] == 'Завершен'; %>
            <div class="col-xs-<%- isFinish ? '10' : '8 col-xs-offset-2'%>">
                <h3 class="text-center">
                    <% if(isFinish) { %>
                    <span class="rate pull-left">
                        <span class="rate-star glyphicon glyphicon-star-empty"></span>
                        <span class="rate-star glyphicon glyphicon-star-empty"></span>
                        <span class="rate-star glyphicon glyphicon-star-empty"></span>
                        <span class="rate-star glyphicon glyphicon-star-empty"></span>
                        <span class="rate-star glyphicon glyphicon-star-empty"></span>
                    </span>
                    <% } %>
                    <%-name%>
                </h3>
            </div>
            <div class="col-xs-2 text-right">
                <button type="button" class="btn btn-default cancel-icon"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        <% if(isFinish) { %>
            <div class="row" id="review-block" style="display: none">
                <input name="rate" type="hidden">
                <div class="col-md-8">
                    <textarea id="review" rows="3" class="form-control" placeholder="Напишите свой отзыв про тур..."></textarea>
                </div>
                <div class="col-md-4">
                    <button type="button" id="sendReview" class="btn btn-block btn-info">Оставить отзыв</button>
                </div>
            </div>
        <% } %>
        <div class="col-md-12 text-center">
            <div class="row">
                <div class="col-md-12">
                    <label>Выбранный вид животного</label>
                    <div class="kind"><%-kind%></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Опасность</label>
                    <div class="text-<%-danger.color%>"><%-danger.name%></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Дата прыжка</label>
                    <div><%-event_date ? event_date : 'Не назначено'%></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>СТОИМОСТЬ ЗАЯВКИ</label>
                    <div class="<%-danger%>"><%-price%><b>$</b></div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <label>СТАТУС ЗАЯВКИ</label><br>
                    <span class="text-<%-status.color%>"><%-status.name%></span>
                </div>
            </div>
            <% if(status['name'] == 'Ожидает оплаты') { %>
            <div class="row">
                <div class="col-md-12">
                    <label>БРОНИРОВАНИЕ</label>
                    <div>до <%- pay_date %></div>
                    <div class="col-md-offset-3 col-md-4">
                        <a href="<%- location['hash'] %>" class="text-center" id="extend">Продлить?</a>
                    </div>
                </div>
            </div>
            <% } %>
            <% if(document_link) { %>
            <div class="row">
                <div class="col-md-12">
                    <a href="<%- document_link %>" target="_blank">Документ о заключении тура</a>
                </div>
            </div>
            <% } %>
            <div class="row">
                <div class="col-md-4 <%- status['name'] == 'ОЖИДАЕТ ОПЛАТЫ' ? '' : '' %>">
                    <button type="button" class="btn btn-block btn-sm btn-danger tour-delete">УДАЛИТЬ</button>
                </div>
                <% if( App.Views['Tour.View'].model.hasStatus(['finish', 'passed']) ) { %>
                <div class="col-md-offset-3 col-md-4">
                    <button type="button" class="btn btn-block btn-sm btn-info" id="tourRepeat">ПОВТОРЕНИЕ ТУРА</button>
                </div>
                <% } %>
                <% if(status['name'] == 'Ожидает оплаты') { %>
                <div class="col-md-offset-3 col-md-4">
                    <a href="#tour/<%-id%>/pay" type="button" class="btn btn-block btn-sm btn-success">ОПЛАТИТЬ</a>
                </div>
                <% } %>
            </div>
        </div>
    </form>
</script>