<script type="text/template" id="tour.create.modal.tpl">
    <form class="row" id="tour-create">
        <div class="row form-group">
            <div class="col-md-9 col-xs-9 form-group">
                <h4>Создание тура</h4>
            </div>
            <div class="col-md-2 col-xs-2 text-right">
                <button type="button" class="btn btn-default cancel-icon"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        <div class="alert alert-danger error-row hidden">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="text-error"></span>
        </div>
        <div class="col-md-5">
            <div id="tour_modal_form_id">
                <input type="hidden" name="client" value="<%- App.Profile.get('id')%>" />
                <input type="hidden" name="duration" value="3" />
                <div class="row form-group">
                    <div class="col-md-8">
                        <label>Эра:<label class="stars">*</label></label>
                        <select name="era" class="form-control"></select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-8">
                        <label>Вид животного:<label class="stars">*</label></label>
                        <select name="kind" class="form-control"></select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label>Опасность:</label>
                        <div style="font-size: 12px">
                            <label class="text-danger danger" for="very-high">
                                <span>ОЧЕНЬ ВЫСОКИЙ</span>
                                <input id="very-high" name="danger" type="radio" value="3" class="hidden">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-8">
                        <div><label>Дата прыжка: </label><label class="stars">*</label></div>

                        <div class='input-group date' id='event-date'>
                            <input name="event_date" type='text' value="<%-event_date%>" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-8">
                        <label>Сумма к оплате:</label>
                        <div><span id="price">999 999</span> $</div>
                        <input name="price" type="hidden" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 tour-create-image">
            <div class="dashboard"><p></p></div>
            <img src="">
            <div class="dashboard"><p></p></div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 col-xs-4 form-group">
                <button type="button" class="btn btn-block btn-sm" id="tourCancel">Отмена</button>
            </div>
            <div class="col-xs-offset-4 col-md-4 col-xs-4">
                <button type="button" class="btn btn-block btn-sm btn-info" id="tourSave">Отправить заявку</button>
            </div>
        </div>
        <row class="stars_text text-left"> </row>
    </form>
</script>
