<script type="text/template" id="tour.view.modal.paid.tpl">
    <form class="row" id="tour-view">
        <div class="row">
            <div class="col-md-9 col-xs-9">
                <h3><%- name %> | <span class="text-<%-status.color%> st_s"><%- status.name %></span></h3>
            </div>
            <div class="col-md-2 col-xs-2 text-right">
                <button type="button" class="btn btn-default cancel-icon"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <label>Клиент</label>
                        <div><%- client.last_name %> <%- client.first_name %></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Эра</label>
                        <div class="era"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <label>Вид животного</label>
                        <div class="kind" id="kind"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Опасность</label>
                        <div class="<%-danger.color%>"><%- danger.name %></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <label>СТОИМОСТЬ</label>
                        <div><%- price %> <b>$</b></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>ДАТА ПРЫЖКА</label>
                        <div><%- event_date %></div>
                    </div>
                </div>
            </div>
        </div>
        <% if(status.name != 'Завершен' && status.name != 'Отменен') { %>
        <div class="row">
            <div class="col-md-4 col-md-offset-3">
                <button type="button" class="btn btn-block btn-success tour-finish">ЗАВЕРШЕНА</button>
            </div>
        </div>
        <% } %>
    </form>
</script>