<script type="text/template" id="tour.view.modal.passed.tpl">
    <form class="row" id="tour-view">
        <div class="row">
            <div class="col-md-9 col-xs-9">
                <h3><%- name %></h3>
            </div>
            <div class="col-md-2 col-xs-2 text-right">
                <button type="button" class="btn btn-default cancel-icon"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Консультант:</label>
                                <div><%-sender['last_name']%> <%-sender['first_name']%> <%-sender['patronimic']%></div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Выбранное животное:</label>
                                <div class="kind"></div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Опасность:</label>
                                <div class="text-<%-danger['color']%>"><%-danger['name']%></div>
                            </div>
                        </div>
                    </div>
                    <form class="col-md-6">
                        <label>Причина отказа</label>
                        <div class="form-group"><%= contain %></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-block btn-sm btn-danger delete-message">УДАЛИТЬ</button>
            </div>
            <div class="col-md-offset-3 col-md-4">
                <button type="button" class="btn btn-sm btn-block" id="startDialog" data-id="<%- sender.id %>">НАЧАТЬ ДИАЛОГ</button>
            </div>
        </div>
    </form>
</script>