<script type="text/template" id="tour.pay.modal.tpl">
    <form class="row" id="tour-pay">
        <div class="row">
            <div class="col-md-9 col-xs-9">
                <label>Оплата тура "<%- name %>"</label>
            </div>
            <div class="col-md-2 col-xs-2 text-right">
                <button type="button" class="btn btn-default cancel-icon"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Номер карты<label class="stars">*</label></label>
                    <input class="form-control" name="number" value="" placeholder="XXXX-XXXX-XXXX-XXXX">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label>ФАМИЛИЯ<label class="stars">*</label></label>
                    <input class="form-control" name="last_name" value="">
                </div>
                <div class="col-md-6">
                    <label>ИМЯ<label class="stars">*</label></label>
                    <input class="form-control" name="first_name" value="">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label>МЕСЯЦ<label class="stars">*</label></label>
                    <input class="form-control" name="month" value="">
                </div>
                <div class="col-md-2">
                    <label>ГОД<label class="stars">*</label></label>
                    <input class="form-control" name="year" value="">
                </div>
                <div class="col-md-2 col-md-offset-6">
                    <label>КОД<label class="stars">*</label></label>
                    <input class="form-control" name="code" value="">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6 row">
                    <label class="col-md-4">СУММА:</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input type="number" min="0" class="form-control" readonly name="price" value="<%-price%>">
                            <span class="input-group-btn">
                            <span class="btn btn-default">$</span>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-5 row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block btn-warning" id="pay-back">НАЗАД</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block btn-success" id="pay">ОПЛАТИТЬ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="stars_text">* Поля обязательные для заполнения</div>
    </form>
</script>