<script type="text/template" id="chat.people.tpl">
<div class="people" id="chat-<%- id %>" data-id="<%- id %>">
    <div class="chat-ava">
        <img src="<%- picture %>">
    </div>
    <div class="chat-name"><span class="fio"><%- fio %></span><span class="badge pull-right btn-danger hidden"></span></div>
</div>
</script>

<script type="text/template" id="chat.peoples.tpl">
    <div class="col-md-2 col-md-offset-10 chat choose-peoples" id="peoples">
        <div class="hidden chat-heading">
            <div class="panel panel-default header">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-search"></span>
                    <input type="text" class="search-peoples" placeholder="Поиск..." />
                </div>
            </div>
            <div class="chat-body"></div>
        </div>
        <div class="static-block">
            <div class="col-md-10 col-xs-8 text-center">Всего (<span class="count">-</span>)</div>
            <div class="col-md-2 col-xs-4 icon">
                <span class="glyphicon glyphicon-triangle-top"></span>
                <span class="glyphicon glyphicon-triangle-bottom hidden"></span>
            </div>
        </div>
    </div>
</script>