{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Base HTML</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/libs/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/libs/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/beauty.css' %}" rel="stylesheet">
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    
    {% csrf_token %}
	<script type="" data-main="{% static 'js/main.js' %}" src="{% static 'js/libs/require.js' %}"></script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar menu-panel navbar-fixed-top" id="top-menu">
           <!--  <div class="row menu-panel">
                <div class="col-md-5"><img src="" alt="" /></div>
                <div class="col-md-6" id="top-menu"></div>
            </div> -->
        </nav>
        <div id="top-menu-picture"></div>
        <div class="row">
            <div id="general-page"></div>
        </div>
        <div class="modal fade" id="modal-window">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body modal-panel" data-toggle="validator"></div>
                </div><!-- /.modal-content -->
            </div>
        </div>
    </div>
    <div class="row" id="chat"></div>
    <div id="chat-black-background"></div>
</body>
<script>
    App = {
        Models: {},
        Collections: {},
        Views: {},
        Router: {},
        Profile: null
    };
</script>
{% include 'home.html' %}
{% include 'auth.html' %}
{% include 'settings.html' %}
{% include 'tour/index.html' %}
{% include 'era.html' %}
{% include 'kind.html' %}
{% include 'review.html' %}
{% include 'template/index.html' %}
{% include 'chat/peoples.html' %}
{% include 'chat/chat.html' %}
{% include 'tables/index.html' %}
</html>