<script type="text/template" id="era.create.modal.tpl">
    <form id="era-create">
        {% csrf_token %}
        <%if(id) {%>
        <input type="hidden" name="_method" value="PUT">
        <%}%>
        <div class="row">
            <div class="col-md-9 col-xs-9">
                <h3>Создать Период</h3>
            </div>
            <div class="col-md-2 col-xs-2 text-right">
                <button type="button" class="btn btn-default cancel-icon"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        <div class="row">
            <input type="hidden" value="<%- id %>" name="id">
            <div class="col-md-12 text-center">
                <div class="row form-group">
                    <div class="col-md-12">
                        <label>НАЗВАНИЕ<label class="stars">*</label></label>
                        <input type="text" class="form-control" name="name" value="<%- name %>" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label>ЦЕНА<label class="stars">*</label></label>
                        <input class="form-control" type="number" min="0" name="price" value="<%- price %>" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label>ИЗОБРАЖЕНИЕ</label>
                        <input type="file" class="form-control file-upload" name="picture" value="<%- picture %>" />
                    </div>
                    <div class="col-md-6">
                        <label>ОПИСАНИЕ</label>
                        <textarea class="form-control" name="description" rows="4"><%- description %></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-block btn-sm" id="cancel">ОТМЕНА</button>
                    </div>
                    <div class="col-md-offset-3 col-md-4">
                        <button type="button" class="btn btn-block btn-sm btn-info era-create"><%- id ? 'ИЗМЕНИТЬ' : 'СОЗДАТЬ'%></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>
<script type="text/template" id="era.view.modal.tpl">
    <div id="era-view">
        <div class="row">
            <div class="col-md-9 col-xs-9">
                <h3><%- name %></h3>
            </div>
            <div class="col-md-2 col-xs-2 text-right">
                <button type="button" class="btn btn-default cancel-icon"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="row form-group">
                    <% if(picture) { %>
                    <div class="col-md-5">
                        <img src="<%- picture %>" class="img-responsive">
                    </div>
                    <% } %>
                    <div class="col-md-<%- picture ? '7' : '12' %>">
                        <div><%- description %></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <label>ЦЕНА: <%- price %> $</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-block btn-sm btn-danger era-delete">УДАЛИТЬ</button>
                    </div>
                    <div class="col-md-offset-3 col-md-4">
                        <a href="#era/<%- id %>/edit" class="btn btn-block btn-sm btn-info">ИЗМЕНИТЬ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>