<script type="text/template" id="kind.create.modal.tpl">
    <form id="kind-create">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-9 col-xs-9">
                <h3>Создать вид</h3>
            </div>
            <div class="col-md-2 col-xs-2 text-right">
                <button type="button" class="btn btn-default cancel-icon"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-12">
                        <label>НАЗВАНИЕ<label class="stars">*</label></label>
                        <input class="form-control" name="name" value="<%-name%>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>ЭРА ОБИТАНИЯ<label class="stars">*</label></label>
                        <select name="era" class="form-control"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>КАТЕГОРИЯ ОПАСНОСТИ</label>
                        <select name="danger" class="form-control">
                            <option value="0" <%-danger == '0' ? 'selected' : ''%>>ЛЕГКАЯ</option>
                            <option value="1" <%-danger == '1' ? 'selected' : ''%>>СРЕДНЯЯ</option>
                            <option value="2" <%-danger == '2' ? 'selected' : ''%>>ВЫСОКАЯ</option>
                            <option value="3" <%-danger == '3' ? 'selected' : ''%>>ОЧЕНЬ ВЫСОКАЯ</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>ЦЕНА<label class="stars">*</label></label>
                        <input class="form-control" type="number" min="0" name="price" value="<%-price%>">
                    </div>
                    <div class="col-md-6">
                        <label>КОЛ-ВО ОСОБЕЙ</label>
                        <input class="form-control" name="count" type="number" min="0" value="<%-count%>">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label>ФОТОГРАФИЯ</label>
                        <img src="<%-picture%>" class="img-responsive">
                        <input type="file" class="form-control" name="picture" value="<%-picture%>">
                    </div>
                    <div class="col-md-6">
                        <label>ОПИСАНИЕ</label>
                        <textarea class="form-control" rows="6" name="description"><%-description%></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-block btn-sm" id="cancel">ОТМЕНА</button>
                    </div>
                    <div class="col-md-offset-3 col-md-4">
                        <button type="button" class="btn btn-block btn-sm btn-info kind-create"><%- id ? 'ИЗМЕНИТЬ' : 'СОЗДАТЬ'%></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>
<script type="text/template" id="kind.view.modal.tpl">
    <div id="kind-view">
        <div class="row">
            <div class="col-md-9 col-xs-9">
                <h3><%- name %></h3>
            </div>
            <div class="col-md-2 col-xs-2 text-right">
                <button type="button" class="btn btn-default cancel-icon"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-12">
                        <label>ЭРА: <span class="era"></span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>ОПАСНОСТЬ: <%-danger%></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>КОЛ-ВО ОСОБЕЙ: <%- count %></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>ЦЕНА: <%- price %> $</label>
                    </div>
                </div>
                <div class="row form-group">
                    <% if(picture) { %>
                    <div class="col-md-6">
                        <img src="<%- picture %>" class="img-responsive">
                    </div>
                    <% } %>
                    <div class="col-md-<%- picture ? '6' : '12' %>">
                        <label>ОПИСАНИЕ</label>
                        <div><%- description %></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-block btn-sm btn-danger kind-delete">УДАЛИТЬ</button>
                    </div>
                    <div class="col-md-offset-3 col-md-4">
                        <a href="#kind/<%- id %>/edit" class="btn btn-block btn-sm btn-info">ИЗМЕНИТЬ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>