<script id="settings.profile.tpl" type="text/template">
<form id="setting-profile">
    <div class="row form-group">
        <div class="col-md-9 col-xs-9 text-center">
            <h4>Редактирование данных учетной записи</h4>
        </div>
        <div class="col-md-2 col-xs-2 text-right">
            <button type="button" class="btn btn-default cancel-icon"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12 text-center text-danger errors"></div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 text-center">
            <label>E-MAIL<label class="stars">*</label></label>
            <input class="form-control form-group" name="email" value="<%-email%>" />
        </div>
        <div class="col-md-6 text-center">
            <label>ТЕКУЩИЙ ПАРОЛЬ<label class="stars">*</label></label>
            <input class="form-control form-group" name="currentPassword" value="" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12 text-center">
            <button type="button" class="changeEmail btn btn-sm btn-info">Изменить</button>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12 text-center text-danger errors"></div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 text-center">
            <label>ПАРОЛЬ<label class="stars">*</label></label>
            <input class="form-control form-group" name="password" value="" />
        </div>
        <div class="col-md-6 text-center">
            <label>ТЕКУЩИЙ ПАРОЛЬ<label class="stars">*</label></label>
            <input class="form-control form-group" name="currentPassword" value="" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12 text-center">
            <button type="button" class="changePassword btn btn-sm btn-info">Изменить</button>
        </div>
    </div>
    <div class="stars_text">* Поля обязательные для заполнения</div>
    </form>
</script>
<script id="settings.pay.tpl" type="text/template">
    <h4>Редактирование платежной информации</h4>
</script>
<script id="settings.personalInfo.tpl" type="text/template">
    <form id="setting-pi">
        <input name="_method" value="PUT" class="hidden" />
        <input name="email" value="<%-email%>" class="hidden" />
        <div class="row form-group">
            <div class="col-md-9 col-xs-9 text-center">
                <h4>Редактирование персональной информации</h4>
            </div>
            <div class="col-md-2 col-xs-2 text-right">
                <button type="button" class="btn btn-default cancel-icon"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6 text-center">
                <label>ФОТО</label>
                <div class="profile-edit-ava">
                    <% var src = picture ? picture : '/static/img/no_ava.gif';%>
                    <img class="form-group" src="<%- src %>">
                </div>
                <input class="form-control form-group" type="file" name="picture" value="<%-picture%>" />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 errors"></div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12 text-center">
                        <label>ФАМИЛИЯ<label class="stars">*</label></label>
                        <input class="form-control" name="last_name" value="<%-last_name%>" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12 text-center">
                        <label>ИМЯ<label class="stars">*</label></label>
                        <input class="form-control" name="first_name" value="<%-first_name%>" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12 text-center">
                        <label>ОТЧЕСТВО</label>
                        <input class="form-control" name="patronimic" value="<%-patronimic%>" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6 text-center">
                <label>ТЕЛЕФОН</label>
                <input class="form-control" name="phone" value="<%-phone%>" />
            </div>
            <div class="col-md-6 text-center setting-pi">
                <label>Физ. подготовка клиента</label>
                <input type="hidden" name="physical_training" value="<%- physical_training %>" />
                <label data-name="physical_training">
                    <% physical_training = [0,1,2,3].indexOf(physical_training) >= 0 ? physical_training : 0; %>
                    <span class="text-success <%- physical_training == 0 ? 'active' : ''%>">Низкая</span>
                    <span class="text-info <%- physical_training == 1 ? 'active' : ''%>">Средняя</span>
                    <span class="text-warning <%- physical_training == 2 ? 'active' : ''%>">Высокая</span>
                    <span class="text-danger <%- physical_training == 3 ? 'active' : ''%>">Очень высокая</span>
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6 text-center">
                <label>ДАТА РОЖДЕНИЯ</label>
                <input class="form-control" name="birthday" value="<%-birthday%>" />
            </div>
            <div class="col-md-6 text-center setting-pi">
                <label>Уровень опасности животного</label>
                <% level_kind = [0,1,2,3].indexOf(level_kind) >= 0 ? level_kind : 0; %>
                <label data-name="level_kind">
                    <input type="hidden" name="level_kind" value="<%- level_kind %>" />
                    <span class="text-success <%- level_kind == 0 ? 'active' : ''%>">Низкий</span>
                    <span class="text-info <%- level_kind == 1 ? 'active' : ''%>">Средний</span>
                    <span class="text-warning <%- level_kind == 2 ? 'active' : ''%>">Высокий</span>
                    <span class="text-danger <%- level_kind == 3 ? 'active' : ''%>">Очень высокий</span>
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 text-center">
                <label>АДРЕС</label>
                <input class="form-control form-group" name="address" value="<%-address%>" />
                <button type="button" class="changePI btn btn-sm btn-info">Изменить</button>
            </div>
        </div>
        <div class="stars_text">* Поля обязательные для заполнения</div>
    </form>
</script>