<script id="template.create.tpl" type="text/template">
    <div class="row" id="template-create">
        <div class="col-md-9 col-xs-9">
            <h3>Создание шаблона заявки</h3>
        </div>
        <div class="col-md-2 col-xs-2 text-right">
            <button type="button" class="btn btn-default cancel-icon"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
    <div class="row" id="templateCreate">
        <div class="col-md-7">
            <form id="tour_modal_form_id">
                <div class="row form-group">
                    <div class="col-md-8">
                        <label>Эра:<label class="stars">*</label></label>
                        <select name="era" class="form-control"></select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-8">
                        <label>Вид животного:<label class="stars">*</label></label>
                        <select name="kind" class="form-control"></select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label>Класс опастности:</label>
                        <div style="font-size: 12px">
                            <label class="text-danger danger" for="very-high">
                                <span>ОЧЕНЬ ВЫСОКИЙ</span>
                                <input id="very-high" name="danger" type="radio" value="3" class="hidden">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-8">
                        <label>Сумма к оплате:</label>
                        <div><span id="price"></span> $</div>
                        <input name="price" type="hidden" value="">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5 tour-create-image"></div>
    </div>
    <div class="row form-group">
        <div class="col-md-8 text-right text-danger">
            <span id="template-error"></span>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-sm btn-info" id="templateSave">сохранить шаблон</button>
        </div>
    </div>
</script>