<script id="template.view.tpl" type="text/template">
    <form class="row" id="templateView">
        <div class="row">
            <div class="col-md-9 col-xs-9">
                <h3><%-name%></h3>
            </div>
            <div class="col-md-2 col-xs-2 text-right">
                <button type="button" class="btn btn-default cancel-icon"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <div class="row">
                <div class="col-md-12">
                    <label>Эра</label>
                    <div class="era"><div class="loader"></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>ВЫБРАННЫЙ ВИД ЖИВОТНОГО</label>
                    <div class="kind"><div class="loader"></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Опасность</label>
                    <div class="text-<%-danger.color%>"><%-danger.name%></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>СТОИМОСТЬ ЗАЯВКИ</label>
                    <div class="<%-danger%>"><%-price%> <b>$</b></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <% if(App.Profile.getGroup() == 'consultant') { %>
                    <button type="button" class="btn btn-block btn-sm btn-danger" data-id="<%= id %>" id="deleteTemplate">Удалить</button>
                    <% } %>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <% if(App.Profile.getGroup() == 'client') { %>
                    <a href="#tour/create/?template=<%- id %>" type="button" class="btn btn-block btn-sm btn-success">Заказать</a>
                    <% } else if(App.Profile.getGroup() == 'consultant') { %>
                    <a href="#template/<%- id %>/edit" class="btn btn-block btn-sm btn-success" data-id="<%= id %>">Изменить</a>
                    <% } %>
                </div>
            </div>
        </div>
    </form>
</script>