<script type="text/template" id="era.table.tpl">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel profile-block">
            <div class="panel-heading">
                <div class="panel-title">Эры</div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th data-name="name">Название</th>
                        <th data-name="description">Описание</th>
                        <th data-name="price">Цена</th>
                        <th data-name="id" class="column-action">Действия</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="era.table.tr.tpl">
        <tr>
            <td><%= name %></td>
            <td><%= description %></td>
            <td><%= price %><b>$</b></td>
            <td><a href="#era/<%= id %>"><span class="btn btn-block btn-sm">Просмотр</span></a></td>
        </tr>
</script>