<script type="text/template" id="tour.table.consultant.tpl">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel profile-block">
            <div class="panel-heading">
                <div class="panel-title">История туров</div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th data-name="name">Название</th>
                        <th data-name="client.id">Клиент</th>
                        <th data-name="status">Статус</th>
                        <th data-name="paid">Оплачено</th>
                        <th data-name="price">Цена</th>
                        <th data-name="id" class="column-action">Действия</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="tour.table.consultant.tr.tpl">
        <tr>
            <td><%= name %></td>
            <td class="multiple" data-kind="clients" data-id="<%= client %>"><div class="loader"></div></td>
            <td><%= status %></td>
            <td><%= paid ? 'Да' : 'Нет' %></td>
            <td><%= price %><b>$</b></td>
            <td><a href="#<%- href %>"><span class="btn btn-block btn-sm">Просмотр</span></a></td>
        </tr>
</script>