@font-face {
	font-family: 'Conv_BebasNeue Bold';
	src: url('../fonts/BebasNeue Bold.eot');
	src: local('☺'), url('../fonts/BebasNeue Bold.woff') format('woff'), url('../fonts/BebasNeue Bold.ttf') format('truetype'), url('../fonts/BebasNeue Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_BebasNeue Book';
	src: url('../fonts/BebasNeue Book.eot');
	src: local('☺'), url('../fonts/BebasNeue Book.woff') format('woff'), url('../fonts/BebasNeue Book.ttf') format('truetype'), url('../fonts/BebasNeue Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_BebasNeue Light';
	src: url('fonts/BebasNeue Light.eot');
	src: local('☺'), url('../fonts/BebasNeue Light.woff') format('woff'), url('../fonts/BebasNeue Light.ttf') format('truetype'), url('../fonts/BebasNeue Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_BebasNeue Regular';
	src: url('../fonts/BebasNeue Regular.eot');
	src: local('☺'), url('../fonts/BebasNeue Regular.woff') format('woff'), url('../fonts/BebasNeue Regular.ttf') format('truetype'), url('../fonts/BebasNeue Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_BebasNeue Thin';
	src: url('../fonts/BebasNeue Thin.eot');
	src: local('☺'), url('../fonts/BebasNeue Thin.woff') format('woff'), url('../fonts/BebasNeue Thin.ttf') format('truetype'), url('../fonts/BebasNeue Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Micra';
	src: url('../fonts/micra_allfont_ru.ttf');
	font-weight: normal;
	font-style: normal;
}

