p {
	font-weight: bold;
}
.panel {
	font-size: 12px;
}
.table th {
	padding: 8px;
}

#top-menu {
	font-size: 10px;
}

#tour_modal_form_id label.danger:hover {
	text-decoration: underline;
	cursor: pointer;
}

.tour-create-image {
	background-color: rgb(214, 214, 214);
	border-radius: 40px 0 0 40px;
	height: 370px;
}
.tour-create-image>img {
	position: absolute;
	max-width: 90%;
	max-height: 100%;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.profile-edit-ava img {
	max-width: 68%;
	max-height: 125px;
}

.profile-ava {
	padding: 20px 20px 0 20px;
}

.profile-ava img {
	max-width: 150px;
	max-height: 150px;
	border-radius: 50%;
}

.editSettings {
	cursor: pointer;
	font-size: 22px;
	color: #ffffff;
}

.editSettings a {
	color: #ffffff;
}

.header {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-radius: 0 0 100px 100px;
}

.view-tour {
	cursor: pointer;
	top: 8px;
	padding-left: 5px;
	font-size: 25px;
	color: gray;
}

.date span {
	cursor: pointer;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 800px;
		margin: 30px auto;
	}
}

.padding-top-45 {
	padding-top: 45px;
}

#tour_modal_form_id .row:last-child button {
	font-size: 23px;
}

/********************************************** chat ******************************************/

.chat {
	bottom: 0;
	position: fixed;
	z-index: 9999;
	padding-left: 0;
	padding-right: 0;
}

#chat .panel {
	border: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

#chat .header .panel-heading {
	padding: 4px 6px;
	border-bottom: 1px solid transparent;
	background-color: #3e8f3e;
	color: white;
	font-family:'Conv_BebasNeue Regular';
	border-radius: 0;
}

#chat .panel-heading input {
	width: 85%;
	margin-left: 5px;
	border-radius: 10px;
	padding: 5px;
	height: 25px;
	color: #000;
}

.chat .panel {
	margin-bottom: 45px;
	border-radius: 0;
}

.chat .icon {
	padding-top: 12px;
	padding-left: 9px;
}

.chat .static-block {
	height: 30px;
	bottom: 0;
	background-color: #3e8f3e;
	color: white;
	font-family:'Conv_BebasNeue Regular';
	font-size: 16px;
	cursor: pointer;
}

/***************************** chat people ***************************/

#chat .people {
	height: 50px;
	background-color: #fff;
	font-family: 'Conv_BebasNeue Regular';
	font-size: 16px;;
	cursor: pointer;
	padding-left: 5px;
}

#chat .people:hover {
	background-color: #cccccc;
}

#chat .chat-ava {
	width: 25%;
	float: left;
	padding: 5px;
	height: 70%;
}

#chat .chat-name {
	width: 100%;
	padding: 12px 0 0 10px;
}

#chat .chat-ava img {
	width: 100%;
	border-radius: 50%;
}

#chat .fio {
	padding-bottom: 2px;
}

#chat .fio.newMessages {
	border-bottom: 1px solid red;
}

/********************************************** chat ************************************/

#chat .chat.panel {
	width: 20%;
	font-family: 'Conv_BebasNeue Regular';
}

#chat .chat.panel .panel-body {
	border-right: 2px solid #3e8f3e;
	border-left: 2px solid #3e8f3e;
	border-top: none;
}

#chat .chat.panel:not(.hidden):nth-child(1) {
	margin-left: 60%;
}

#chat .chat.panel:not(.hidden):nth-child(2) {
	margin-left: 38%;
}

#chat .chat.panel:not(.hidden):nth-child(3) {
	margin-left: 16%;
}

#chat .chat.panel .panel-heading span {
	padding: 2px;
	cursor: pointer;
}

#chat .chat.panel .panel-heading {
	background-color: #3e8f3e;
	color: white;
}

#chat .chat.panel .panel-footer {
	padding: 2px;
	background-color: #3e8f3e;
	font-size: 14px;
}

#chat .chat.panel .panel-footer input {
	width: 100%;
	height: 30px;
	padding: 5px;
}

.chat .panel-body {
	max-height: 300px;
	overflow-y: auto;
}

/**************************** Сообщения *******************************************/

/* домашний, я писал */
#chat .message {
	border-radius: 15px;
	padding: 5px;
	margin-bottom: 10px;
	color: white;
}

/* домашний, я писал */
#chat .message-from {
	border: 1px solid #3e8f3e;
	background-color: #5cb85c;
	width: 80%;
	margin-left: 20%;
}

/* мне писали */
#chat .message-to {
	border: 1px solid #1b6d85;
	background-color: #5bc0de;
	width: 80%;
}

#chat .panel-footer .input-group {
	width: 100%;
}

#chat .panel-footer button {
	background: #23b9ff;
	color: white;
	height: 25px;
}

#chat {
	z-index: 9999;
}

#chat-black-background {
	background-color: black;
	z-index: 9998;
	display: none;
	opacity: 0.5;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#chat .show-more {
	padding: 0 0 8px;
	cursor: pointer;
}

/**************************** error-message ***********************************/

.error-message {
	font-size: 30px;
}

/**************************** Профиль (меню) ***********************************/

#menu-profile {
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

#menu-profile img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.allowed {
	font-size: 18px;
	font-weight: 400;
}

/* ================================= spinner ===================================*/
.loader {
	font-size: 10px;
	margin: 5px auto;
	text-indent: -9999em;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #6B8E23;
	background: -moz-linear-gradient(left, #6B8E23 10%, rgba(0,255,0, 0) 42%);
	background: -webkit-linear-gradient(left, #6B8E23 10%, rgba(0,255,0, 0) 42%);
	background: -o-linear-gradient(left, #6B8E23 10%, rgba(0,255,0, 0) 42%);
	background: -ms-linear-gradient(left, #6B8E23 10%, rgba(0,255,0, 0) 42%);
	background: linear-gradient(to right, #6B8E23 10%, rgba(0,255,0, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

#chat .loader {
	background: #fff;
	background: -moz-linear-gradient(left, #fff 10%, rgba(0,255,0, 0) 42%);
	background: -webkit-linear-gradient(left, #fff 10%, rgba(0,255,0, 0) 42%);
	background: -o-linear-gradient(left, #fff 10%, rgba(0,255,0, 0) 42%);
	background: -ms-linear-gradient(left, #fff 10%, rgba(0,255,0, 0) 42%);
	background: linear-gradient(to right, #fff 10%, rgba(0,255,0, 0) 42%);
	width: 18px;
	height: 18px;
	margin: auto;
}

.loader:before {
	width: 50%;
	height: 50%;
	background: #6B8E23;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}

#chat .loader:before {
	background: #fff;
}

.loader:after {
	background: #FFF;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#chat .loader:after {
	background: #23b9ff;
}

@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/* ================================= /spinner ===================================*/

/* ================================= scroll ===================================*/

::-webkit-scrollbar {
	width: 8px;
	background-color: black;
}

::-webkit-scrollbar-thumb {
	border-width: 0;
	background-color: #777;
}
::-webkit-scrollbar-thumb:hover {
	border-width: 1px 1px 1px 2px;
	border-color: #777;
	background-color: #f1f1f1;
}

::-webkit-scrollbar-track{
	border: none;
}

::-webkit-scrollbar-track:hover{
	border: none;
}

#chat .panel-body::-webkit-scrollbar {
	width: 8px;
	background-color: white;
}

#chat .panel-body::-webkit-scrollbar-thumb {
	border-width: 0;
	background-color: #85c5e5;
}
#chat .panel-body::-webkit-scrollbar-thumb:hover{
	border-width: 0;
	border-color: #1f80b9;
	background-color: #1f80b9;
}

/* ================================= /scroll ===================================*/

/* =========================== settings personal info ==========================*/

.setting-pi span {
	font-size: 11px;
	cursor: pointer;
}

.setting-pi span:hover {
	text-decoration: underline;
}

.setting-pi span.active {
	text-decoration: underline;
}

/* ========================= / settings personal info ==========================*/

/* =================================== rate ====================================*/

.rate,
.rate-star {
	cursor: pointer;
}

#review-slider .item {
	height: 150px;
}

#review-slider .item img {
	max-height: 50px;
	max-width: 50px;
}

/* =================================== rate ====================================*/